@model Memes.Models.Meme
@using System.Threading;

@{
    ViewData["Title"] = "Home Page";
}


<div id="container" class="container-fluid meme-main">


    @foreach (Meme meme in Model.displayMemes)
    {
        <div class="meme">
            <div class="meme-header">
                <h4>@meme.Title</h4>
                <h2>@meme.Description</h2>
            </div>

            <div class="meme-image" style="margin:auto;">
                @switch (meme.Type)
                {
                    case 0:
                        <img src="@meme.Link" />
                        break;
                    case 1:
                        <video autoplay="autoplay" name="media" loop=""><source src="@meme.Link"></video>
                        break;
                    case 2:
                        <embed src="@meme.Link" scale="aspect" controller="false">
                        break;

                }
            </div>
            <div>
                <p>Dodane przez: @meme.User</p>
            </div>
            <div class="btn-facebook">
                <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://localhost:60949/” target="_blank">Udostępnij</a>
            </div>
        </div>

    }

    <div class="Button-Div">

        @if (Model.nextPageExists)
        {
            <a style="float:right" class="Button-page" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.pageIndex + 1)">Następna</a>

        }
        else
        {
            <p style="float:right" class="Button-page-deactivated">Następna</p>
        }

        @if (Model.pageIndex > 0)
        {
            <a style="float:left" class="Button-page" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.pageIndex - 1)">Poprzednia</a>
        }
        else
        {
            <p style="float:left" class="Button-page-deactivated">Poprzednia</p>
        }


    </div>
    <div class="meme-buttons-footer">
        <ul>
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(0)"><<<</a>
            </li>
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@( Model.pageIndex >= 10 ? Model.pageIndex - 10 : 0)"><<</a>
            </li>
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.pageIndex > 0 ? Model.pageIndex-1 : 0)"><</a>
            </li>
            @for (int i = 1; i < 5; i++)
            {

                <li>
                    <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.pageIndex + i)">@(Model.pageIndex + i + 1)</a>
                </li>

            }
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.lastPage - 1 > Model.pageIndex + 1 ? Model.pageIndex + 1 : Model.lastPage - 1)">></a>
            </li>
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.lastPage - 1 > Model.pageIndex + 10 ? Model.pageIndex + 10 : Model.lastPage-1)">>></a>
            </li>
            <li>
                <a class="Button-page" asp-controller="Home" asp-action="Index" asp-route-id="@(Model.lastPage-1)">>>></a>
            </li>
        </ul>


    </div>




</div>
